<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <connectionStrings>
    <!--<add name="Welding" connectionString="Server=DESKTOP-FQJKCEJ\SQLEXPRESS_1901; Database=Welding; Trusted_Connection=True" providerName="System.Data.SqlClient"/>-->
    <add name="Welding" connectionString="Server=S08900416X; Database=Welding; User ID = WeldCheck; Password = WeldCheck;" providerName="System.Data.SqlClient" />
    <!--<add name="Welding" connectionString="Server=.\MSSQLSERVER; Database=Welding; Trusted_Connection=True" providerName="System.Data.SqlClient"/>-->
    
    
    
    
    <add name="PLC0" connectionString="Server=127.0.0.1; Rack = 0; Slot = 2;" />
    <add name="PLC1" connectionString="Server=172.29.35.140; Rack = 0; Slot = 2;" />
    <add name="PLC2" connectionString="Server=172.29.35.142; Rack = 0; Slot = 2;" />
    <add name="PLC3" connectionString="Server=172.29.35.171; Rack = 0; Slot = 1;" />
    <add name="PLC4" connectionString="Server=172.29.35.146; Rack = 0; Slot = 1;" />
    <add name="PLC5" connectionString="Server=172.29.35.148; Rack = 0; Slot = 1;" />
    <add name="PLC6" connectionString="Server=172.29.35.210; Rack = 0; Slot = 1;" />
    <add name="PLC7" connectionString="Server=172.29.35.212; Rack = 0; Slot = 1;" />
    <add name="PLC8" connectionString="Server=10.172.77.210; Rack = 0; Slot = 1;" />
    <add name="PLC9" connectionString="Server=10.172.77.212; Rack = 0; Slot = 1;" />
    <add name="PLC10" connectionString="Server=10.172.77.232; Rack = 0; Slot = 1;" />
	<add name="PLC11" connectionString="Server=10.172.77.234; Rack = 0; Slot = 1;" />
	<add name="PLC12" connectionString="Server=10.172.77.236; Rack = 0; Slot = 1;" />
	<add name="PLC13" connectionString="Server=10.172.77.238; Rack = 0; Slot = 1;" />
	<add name="PLC14" connectionString="Server=10.172.77.240; Rack = 0; Slot = 1;" />
    
    <!-- your comment -->
    
    <!--<add name="PLC0" connectionString="Server=127.0.0.1; Rack = 0; Slot = 2;"/>
    <add name="PLC1" connectionString="Server=127.0.0.0; Rack = 0; Slot = 2;"/>
    <add name="PLC2" connectionString="Server=127.0.0.0; Rack = 0; Slot = 2;"/>
    <add name="PLC3" connectionString="Server=127.0.0.0; Rack = 0; Slot = 1;"/>
    <add name="PLC4" connectionString="Server=127.0.0.0; Rack = 0; Slot = 1;"/>
    <add name="PLC5" connectionString="Server=127.0.0.0; Rack = 0; Slot = 1;"/>
    <add name="PLC6" connectionString="Server=127.0.0.0; Rack = 0; Slot = 1;"/>
    <add name="PLC7" connectionString="Server=172.29.35.212; Rack = 0; Slot = 1;"/>
    <add name="PLC8" connectionString="Server=127.0.0.0; Rack = 0; Slot = 1;"/>
    <add name="PLC9" connectionString="Server=127.0.0.0; Rack = 0; Slot = 1;"/>
    <add name="PLC10" connectionString="Server=127.0.0.0; Rack = 0; Slot = 1;"/>-->
  </connectionStrings>
  
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender0" />
      <appender-ref ref="RollingFileAppender1" />
      <appender-ref ref="RollingFileAppender2" />
      <appender-ref ref="RollingFileAppender3" />
      <appender-ref ref="RollingFileAppender4" />
      <appender-ref ref="RollingFileAppender5" />
      <appender-ref ref="RollingFileAppender6" />
      <appender-ref ref="RollingFileAppender7" />
      <appender-ref ref="RollingFileAppender8" />
      <appender-ref ref="RollingFileAppender9" />
      <appender-ref ref="RollingFileAppender10" />
	  <appender-ref ref="RollingFileAppender11" />
	  <appender-ref ref="RollingFileAppender12" />
	  <appender-ref ref="RollingFileAppender13" />
	  <appender-ref ref="RollingFileAppender14" />
      </root>
    
    <appender name="RollingFileAppender0" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender1" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender2" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender3" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender4" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender5" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender6" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender7" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender8" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender9" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender10" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="WinS7ClientLogger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
	  <appender name="RollingFileAppender11" type="log4net.Appender.RollingFileAppender" additivity="false">
		  <file value="WinS7ClientLogger.log" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="5" />
		  <maximumFileSize value="10MB" />
		  <staticLogFileName value="true" />
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		  </layout>
	  </appender>
	  <appender name="RollingFileAppender12" type="log4net.Appender.RollingFileAppender" additivity="false">
		  <file value="WinS7ClientLogger.log" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="5" />
		  <maximumFileSize value="10MB" />
		  <staticLogFileName value="true" />
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		  </layout>
	  </appender>
	  <appender name="RollingFileAppender13" type="log4net.Appender.RollingFileAppender" additivity="false">
		  <file value="WinS7ClientLogger.log" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="5" />
		  <maximumFileSize value="10MB" />
		  <staticLogFileName value="true" />
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		  </layout>
	  </appender>
	  <appender name="RollingFileAppender14" type="log4net.Appender.RollingFileAppender" additivity="false">
		  <file value="WinS7ClientLogger.log" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="5" />
		  <maximumFileSize value="10MB" />
		  <staticLogFileName value="true" />
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		  </layout>
	  </appender>
    
    <logger name="Logger0" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender0" />
    </logger>
    <logger name="Logger1" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender1" />
    </logger>
    <logger name="Logger2" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender2" />
    </logger>
    <logger name="Logger3" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender3" />
    </logger>
    <logger name="Logger4" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender4" />
    </logger>
    <logger name="Logger5" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender5" />
    </logger>
    <logger name="Logger6" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender6" />
    </logger>
    <logger name="Logger7" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender7" />
    </logger>
    <logger name="Logger8" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender8" />
    </logger>
    <logger name="Logger9" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender9" />
    </logger>
    <logger name="Logger10" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender10" />
    </logger>
  	<logger name="Logger11" additivity="false">
		<level value="ALL" />
		<appender-ref ref="RollingFileAppender11" />
	</logger>
	  <logger name="Logger12" additivity="false">
		  <level value="ALL" />
		  <appender-ref ref="RollingFileAppender12" />
	  </logger>
	  <logger name="Logger13" additivity="false">
		  <level value="ALL" />
		  <appender-ref ref="RollingFileAppender13" />
	  </logger>
	  <logger name="Logger14" additivity="false">
		  <level value="ALL" />
		  <appender-ref ref="RollingFileAppender14" />
	  </logger>
	</log4net>
  
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
